.contacts {
    text-align: center;
    padding: 55px 20px 63px;

}

.contacts-title {
    font-size: 34px;
    font-weight: 700;
    color: var(--main-black);
}

.contacts-button {
    background-color: var(--main-black);

    width: 210px;
    height: 42px;
    border: none;
    border-radius: 21px;

    margin: 75px 0 30px 0;
}

.contacts-button:hover {
    opacity: 0.8;
}

.button-link {
    font-size: 24px;
    font-weight: 500;
    color: var(--bg-main);
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 30px;

}

.social-icon {
    width: 65px;
    height: 65px;
    fill: var(--main-black);
}

.social-icon:hover {
    fill: lightcoral;
}

.contacts-info {

    color: var(--font-color-gray);

    font-size: 16px;
    font-weight: 500;
    width: 261px;
    margin: 35px auto;
}

@media (max-width:480px) {
    .social {
        gap: 20px;
    }

    .social-icon {
        width: 55px;
        height: 55px;
    }

    .contacts-info {
        font-size: 14px;
    }
}