.home {
    text-align: center;

}

.container {}

.home-title {
    font-size: 45px;
    font-weight: 700;
    color: var(--main-black);
    margin: 45px 0 25px 0;
}

.home-description {
    margin: 0 0 35px 0;
    font-size: 18px;
    font-weight: 500;
}

.home-img {
    width: 100%;
    height: 535px;
    object-fit: cover;
}

@media (max-width:400px) {
    .home {
        text-align: left;
    }

    .home-title {
        font-size: 32px;
        margin: 0px 0 25px 0;
        max-width: 250px;
    }

    .home-description {

        font-size: 14px;
    }

}